:root {
  --color-primary: #333; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

button::-moz-focus-inner {
  border: 0; }

a {
  text-decoration: none; }

a:focus {
  outline: 0; }

button:focus {
  outline: none; }

select:focus {
  outline: none; }

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000; }

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("https://img.icons8.com/android/24/000000/sort-down.png");
  background-repeat: no-repeat;
  min-width: 3.75rem;
  background-size: 12px;
  background-position: right center;
  padding: .25rem; }

input:required, textarea:required {
  box-shadow: none; }

input:invalid, textarea:invalid {
  box-shadow: none; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  display: relative;
  min-height: 100vh; }

.typho__h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 2.8rem;
  font-weight: 600;
  margin-bottom: 3rem; }

.typho__h2 {
  font-size: 1.6rem;
  font-weight: 2.8rem;
  font-weight: 600;
  margin-top: 4rem;
  margin-bottom: 1.5rem; }

.typho__p {
  font-size: 1.6rem;
  line-height: 2.8rem;
  margin-bottom: 2rem;
  color: #1c1e29;
  font-weight: 400; }

.typho__a {
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: blue;
  text-decoration: underline;
  font-weight: 400; }

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100vh;
  font-size: 1.6rem;
  background-color: #f9f9f9;
  justify-content: space-between; }

.prompt {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7); }
  .prompt--hide {
    display: none; }
  .prompt-box {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    width: 100%;
    max-width: 50rem;
    padding: 2rem 1rem;
    border-radius: 3px; }
    .prompt-box__header {
      font-weight: 500;
      font-size: 1.8rem;
      margin-bottom: 1rem;
      padding: 1rem; }
    .prompt-box__message {
      display: flex;
      flex-direction: column;
      padding: 0 2rem;
      font-weight: normal;
      line-height: 2rem;
      font-size: 1.4rem; }
    .prompt-box__input {
      margin-top: 1rem;
      margin-bottom: 1.5rem;
      padding: 0 .5rem;
      height: 3rem;
      width: 100%; }
      .prompt-box__input:focus, .prompt-box__input:active {
        outline: none !important;
        box-shadow: none !important; }
    .prompt-box__action {
      padding: 1rem 2rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
      .prompt-box__action-button {
        background-color: none;
        border: none;
        padding: 1rem 2rem;
        margin-left: 1rem;
        border-radius: 1px;
        cursor: pointer; }
        .prompt-box__action-button--ok {
          background-color: #2ecc71;
          color: #fff; }
          .prompt-box__action-button--ok:hover {
            background-color: #25a25a; }
          .prompt-box__action-button--ok:active {
            transform: translateY(1px); }
        .prompt-box__action-button--cancel {
          background-color: #e74c3c;
          color: #fff; }
          .prompt-box__action-button--cancel:active {
            transform: translateY(1px); }
          .prompt-box__action-button--cancel:hover {
            background-color: #d62c1a; }

.home {
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100vh;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column; }
  .home-topbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 3rem;
    height: 6rem; }
    .home-topbar__playlist {
      font-size: 2.4rem;
      color: #c7c7c7; }
      .home-topbar__playlist:hover {
        color: #616161; }
  .home-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto; }
    @media only screen and (max-width: 750px) {
      .home-body {
        flex-direction: column; } }
    .home-body__main {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      height: auto; }
      .home-body__main-logo {
        margin-top: 10rem;
        margin-bottom: 2.5rem; }
        @media only screen and (max-width: 750px) {
          .home-body__main-logo {
            padding: 2rem;
            transform: scale(0.75); } }
      .home-body__main-topsection {
        position: relative;
        flex-grow: 1;
        flex-basis: 90vh;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; }
      .home-body__main-jargon {
        font-size: 2.4rem;
        font-weight: 300;
        margin-bottom: 2.5rem;
        text-align: center; }
        @media only screen and (max-width: 600px) {
          .home-body__main-jargon {
            line-height: 140%; } }
      .home-body__main-task {
        width: 100%;
        max-width: 55rem;
        margin: 2rem 0; }
      .home-body__main-scroll {
        margin-top: 5rem;
        padding: 1rem;
        cursor: pointer;
        color: #CCCCCC;
        font-size: 7rem; }
        .home-body__main-scroll--hide {
          display: none; }
      .home-body__main-inputwrapper {
        width: 100%;
        max-width: 50rem;
        padding: 1rem; }
      .home-body__main-search {
        flex-grow: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .home-body__main-search--hide {
          display: none !important; }
        .home-body__main-search__input {
          width: 100%;
          max-width: 50rem;
          height: 4.4rem;
          border-radius: 24px;
          box-shadow: none;
          border: 1px solid #dfe1e5;
          padding: 0 2rem;
          padding-right: 5rem;
          font-family: inherit;
          font-size: 1.6rem;
          color: rgba(0, 0, 0, 0.87); }
          .home-body__main-search__input:hover {
            border: 1px solid #dfe1e5;
            box-shadow: 0 0px 3px rgba(0, 0, 0, 0.46); }
          .home-body__main-search__input:hover + .home-body__main-search__button {
            color: #616161 !important; }
          .home-body__main-search__input:focus {
            outline: none;
            border: 1px solid #dfe1e5;
            box-shadow: 0 0px 3px rgba(0, 0, 0, 0.46); }
          .home-body__main-search__input:focus + .home-body__main-search__button {
            color: #616161 !important;
            transform: rotate(-45deg) scale(1.3); }
        .home-body__main-search__button {
          margin-left: -4rem;
          background-color: transparent;
          border: none;
          font-size: 2rem;
          color: #c7c7c7;
          transition: all .5s;
          position: abosolute;
          z-index: 100; }
          .home-body__main-search__button:focus {
            outline: none; }
          .home-body__main-search__button:hover {
            cursor: pointer;
            color: #616161 !important;
            transform: rotate(-45deg) scale(1.3); }

.logo {
  font-family: inherit; }
  .logo__focus {
    font-size: 6.4rem;
    font-weight: 300;
    color: #4F5870; }
    .logo__focus--l {
      font-size: 5rem; }
    .logo__focus--medium {
      font-size: 2.6rem; }
  .logo__tube {
    position: relative;
    font-size: 6.4rem;
    font-weight: 700;
    color: #B5C9FF; }
    .logo__tube::after {
      content: 'alpha';
      position: absolute;
      left: 100%;
      top: 0;
      display: block;
      text-transform: uppercase;
      color: white;
      font-weight: 300;
      font-size: .3em;
      background-color: #82a4ff;
      padding: .2em;
      border-radius: .2em; }
    .logo__tube--l {
      font-size: 5rem; }
    .logo__tube--medium {
      font-size: 2.6rem; }

.search {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100vh;
  font-size: 1.6rem;
  background-color: #f9f9f9; }
  .search-body {
    display: flex;
    flex-direction: row;
    margin-bottom: 22rem;
    min-height: 70vh;
    position: relative;
    z-index: 0; }
    @media only screen and (max-width: 915px) {
      .search-body {
        width: 100%;
        flex-direction: column-reverse;
        align-items: center; } }
  .search-container {
    flex-grow: 1;
    flex-basis: 65rem;
    display: flex;
    justify-content: flex-end;
    margin-left: 4rem; }
    .search-container--full {
      justify-content: center;
      margin: 0 2rem; }
    @media only screen and (max-width: 915px) {
      .search-container {
        width: 100%;
        margin: unset;
        justify-content: center; } }
  .search-result {
    width: 100%;
    max-width: 65rem;
    min-width: 45rem; }
    .search-result--full {
      margin-left: -5rem;
      max-width: 80rem; }
    @media only screen and (max-width: 915px) {
      .search-result {
        min-width: 35rem;
        width: 100%;
        margin: 0 2rem;
        justify-content: center; } }
    .search-result-container {
      display: flex;
      flex-direction: column;
      padding: 2rem 0; }
      @media only screen and (max-width: 600px) {
        .search-result-container {
          padding: 2rem 0; } }
  .search-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem; }
    .search-pagination__direction {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 15rem;
      padding: .5rem 2rem;
      margin: 1rem;
      font-size: 1.5rem;
      border: 1px solid #CCCCCC;
      cursor: pointer;
      color: #616161;
      background-color: #F2F2F2; }
      .search-pagination__direction:hover {
        background-color: #B5C9FF;
        border: 1px solid #B5C9FF; }
      .search-pagination__direction:active {
        transform: translateY(1px); }
      .search-pagination__direction--hide {
        visibility: hidden; }
      .search-pagination__direction-label {
        margin: 0 1rem; }
  .search-filter {
    display: flex;
    flex-direction: column;
    margin-top: 1rem; }
    .search-filter-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 5.8rem; }
      .search-filter-header__filter {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-right: 1rem; }
        .search-filter-header__filter-icon {
          font-size: 2.4rem;
          margin-right: 1.5rem;
          color: #606060; }
          @media only screen and (max-width: 480px) {
            .search-filter-header__filter-icon {
              margin-right: 1rem;
              font-size: 2rem; } }
        .search-filter-header__filter-text {
          font-size: 1.8rem;
          font-weight: 500;
          text-transform: uppercase;
          color: #606060; }
          @media only screen and (max-width: 550px) {
            .search-filter-header__filter-text {
              font-size: 1.5rem; } }
      .search-filter-header__control {
        display: flex;
        flex-direction: row;
        align-items: center; }
        .search-filter-header__control-option {
          display: flex;
          flex-direction: row;
          margin-left: 1rem; }
        .search-filter-header__control-text {
          font-size: 1.5rem;
          font-weight: 500;
          text-transform: capitalize;
          color: #606060; }
          @media only screen and (max-width: 550px) {
            .search-filter-header__control-text {
              font-size: 1.3rem; } }
        .search-filter-header__control-select {
          font-family: inherit;
          margin-left: 1rem;
          border: none;
          cursor: pointer; }
    .search-filter-body {
      border-bottom: 1px solid #CCCCCC;
      height: auto; }
      .search-filter-body--hide {
        height: 0;
        overflow: hidden; }
      .search-filter-body__field {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin: 1.5rem; }
        .search-filter-body__field-label {
          display: block;
          font-size: 1.3rem;
          font-weight: 500;
          text-transform: uppercase;
          color: #0d0d0d;
          width: 10rem; }
        .search-filter-body__field-radio > label {
          font-size: 1.4rem;
          color: #606060;
          margin-right: 1.5rem;
          margin-left: .7rem; }
          @media only screen and (max-width: 550px) {
            .search-filter-body__field-radio > label::after {
              content: '';
              margin: .5rem 0;
              display: block; } }
  .search-playlist {
    flex-shrink: 1;
    width: 100%;
    margin: 1rem 4rem 4rem 4rem;
    max-width: 37.6rem;
    height: auto; }
    @media only screen and (max-width: 915px) {
      .search-playlist {
        flex-grow: 1;
        width: 100%;
        max-width: 65rem;
        margin: unset; } }
    .search-playlist--hide {
      display: none; }

.topbar {
  height: 5.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  margin-bottom: 2rem;
  margin-top: .5rem; }
  @media only screen and (max-width: 650px) {
    .topbar {
      padding: 1rem;
      flex-direction: column;
      justify-content: space-around;
      height: auto; } }
  .topbar__logo {
    text-decoration: none; }
    @media only screen and (max-width: 650px) {
      .topbar__logo {
        display: none; } }
  .topbar__search {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 45rem;
    height: 3.7rem;
    padding: 0 1rem; }
    @media only screen and (max-width: 650px) {
      .topbar__search {
        margin-top: 1rem; } }
    .topbar__search-input {
      height: 100%;
      flex-grow: 1;
      border: 1px solid #CCCCCC;
      padding: 0 1rem;
      padding-left: 3.5rem;
      font-size: 1.6rem;
      color: rgba(0, 0, 0, 0.87);
      border-radius: 7.5px; }
      .topbar__search-input:focus {
        outline: none;
        box-shadow: inset 0px 1px 2px #CCCCCC; }
    .topbar__search-button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;
      border-left: transparent;
      width: 3rem;
      height: 3rem;
      position: absolute;
      margin-left: .5rem;
      color: #808aa5;
      border-radius: 50%;
      transition: all .2s; }
      .topbar__search-button:hover {
        cursor: pointer;
        color: #646f8e; }
  .topbar__panel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 2.4rem; }
    @media only screen and (max-width: 650px) {
      .topbar__panel {
        margin-top: 1rem; } }
    .topbar__panel-item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 2rem;
      color: #c7c7c7;
      background-color: #F2F2F2;
      border-radius: 50%;
      font-size: 2rem;
      padding: auto;
      width: 3.5rem;
      height: 3.5rem;
      text-align: center;
      display: none; }
      @media only screen and (max-width: 650px) {
        .topbar__panel-item {
          margin: 0 2rem; } }
      .topbar__panel-item__donate-wrapper {
        position: relative; }
        @media only screen and (max-width: 650px) {
          .topbar__panel-item__donate-wrapper {
            display: none; } }
        .topbar__panel-item__donate-wrapper::after {
          content: 'Support me';
          z-index: 2;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          background-color: #FFDD00;
          left: -100%;
          font-size: 1.5rem;
          display: flex;
          align-items: center;
          padding: .5rem;
          border-radius: 2px;
          color: #0d0d0d;
          font-weight: 300;
          font-style: italic;
          width: 10rem;
          visibility: hidden;
          transition: all .2s; }
        .topbar__panel-item__donate-wrapper:hover::after {
          visibility: visible;
          display: flex;
          transform: translate(-40%, -50%); }
      .topbar__panel-item__support {
        background-color: transparent;
        z-index: 3;
        width: 4.2rem;
        height: auto;
        position: relative; }
      .topbar__panel-item:hover {
        color: #cfdcff;
        color: white;
        background-color: #cfdcff; }

.playlist {
  display: flex;
  flex-direction: column; }
  .playlist--hide-body {
    height: auto !important; }
  .playlist__watch {
    height: 100%; }
  .playlist-delete {
    display: flex;
    background-color: #f8f8f8;
    border-top: 1px solid #CCCCCC;
    padding: .3rem; }
    .playlist-delete:hover .playlist-delete__text {
      visibility: visible; }
    .playlist-delete__text {
      display: inline-block;
      font-size: 1.4rem;
      line-height: 2.1rem;
      color: #606060;
      cursor: pointer; }
      .playlist-delete__text:hover {
        text-decoration: underline; }
  .playlist--pinned {
    position: sticky;
    top: 1rem; }
  .playlist-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: #606060;
    text-transform: capitalize;
    background-color: #f8f8f8; }
    .playlist-header__toggle {
      display: none; }
      @media only screen and (max-width: 915px) {
        .playlist-header__toggle {
          display: block;
          padding-left: 1rem;
          flex-grow: 1;
          align-self: flex-end !important; } }
  .playlist-control {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    padding: .5rem 1rem 1rem;
    border-bottom: 1px solid #CCCCCC; }
    .playlist-control--hide {
      display: none; }
    .playlist-control__button {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem; }
      .playlist-control__button-item {
        font-size: 1.9rem;
        cursor: pointer;
        color: #b9b9b9; }
        .playlist-control__button-item--active {
          color: #616161; }
        .playlist-control__button-item:not(:last-child) {
          margin-right: .5rem; }
        .playlist-control__button-item:hover {
          color: #616161; }
        .playlist-control__button-item:active {
          transform: translateY(1px); }
        @media only screen and (max-width: 915px) {
          .playlist-control__button-item--sticky {
            display: none !important; } }
    .playlist-control__ownedList {
      padding: .5rem;
      background-color: #f9f9f9;
      border: 1px solid #CCCCCC; }
  .playlist-body {
    position: relative;
    background-color: #f8f8f8;
    height: 50rem;
    overflow: auto;
    padding: .5rem .5rem 0; }
    .playlist-body__watch {
      height: 100%;
      overflow: auto; }
    .playlist-body--hide {
      display: none; }

.video-item {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem; }
  @media only screen and (max-width: 600px) {
    .video-item {
      margin-bottom: .8rem; } }
  .video-item--playlist {
    margin-bottom: .5rem; }
    .video-item--playlist---active {
      background-color: #f1f1f1; }
    .video-item--playlist:hover {
      background-color: #f3f3f3; }
  .video-item:hover .video-item-togglePlaylist--playlist {
    visibility: visible; }
  .video-item-stat {
    color: #606060; }
  .video-item-meta {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1; }
  .video-item__title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline; }
  .video-item__stat-wrapper {
    font-size: 1.3rem;
    font-weight: 400;
    color: #606060;
    padding: .4rem 0 1rem; }
    .video-item__stat-wrapper--playlist {
      padding-top: 0; }
    @media only screen and (max-width: 550px) {
      .video-item__stat-wrapper {
        display: flex;
        flex-direction: column; } }
    .video-item__stat-wrapper--textMode {
      display: flex;
      flex-direction: row; }
  .video-item__thumbnail-wrapper {
    display: block;
    flex-grow: 1;
    flex-shrink: 0;
    margin-right: 2rem;
    width: 100%;
    max-width: 24.6rem;
    width: 246px;
    height: auto;
    position: relative;
    align-self: flex-start; }
    .video-item__thumbnail-wrapper--hide {
      display: none; }
    .video-item__thumbnail-wrapper--playlist {
      max-width: 30%;
      margin-right: 1rem; }
      @media only screen and (max-width: 600px) {
        .video-item__thumbnail-wrapper--playlist {
          align-self: flex-start;
          width: 35% !important;
          height: auto; } }
    @media only screen and (max-width: 600px) {
      .video-item__thumbnail-wrapper {
        align-self: flex-start;
        width: 50%;
        height: auto; } }
    @media only screen and (max-width: 550px) {
      .video-item__thumbnail-wrapper {
        margin-right: 1rem; } }
  .video-item-thumbnail {
    width: 100%;
    height: auto; }
  .video-item-duration {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 2px 4px;
    border-radius: 2px;
    margin-right: 1rem;
    margin-bottom: 1rem; }
    .video-item-duration--playlist {
      font-size: 1.3rem;
      margin-right: .5rem;
      margin-bottom: .5rem; }
  .video-item-tittle {
    font-size: 1.8rem;
    color: #0d0d0d;
    font-weight: normal;
    overflow: hidden;
    line-height: 2.4rem;
    text-overflow: ellipsis;
    word-wrap: break-word;
    max-height: 4.8rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; }
    .video-item-tittle--playlist {
      font-size: 1.4rem;
      line-height: 1.6rem;
      font-weight: 500; }
    .video-item-tittle--textMode {
      color: #1a0dab; }
    @media only screen and (max-width: 550px) {
      .video-item-tittle {
        font-size: 1.5rem;
        line-height: 2rem; } }
  .video-item-togglePlaylist {
    font-size: 2rem;
    line-height: 2.3rem;
    color: #CCCCCC;
    cursor: pointer; }
    .video-item-togglePlaylist--playlist {
      font-size: 1.5rem;
      visibility: hidden; }
      .video-item-togglePlaylist--playlist:hover {
        color: #616161 !important; }
      @media only screen and (max-width: 915px) {
        .video-item-togglePlaylist--playlist {
          visibility: visible; } }
    .video-item-togglePlaylist:hover {
      color: #B5C9FF; }
    @media only screen and (max-width: 550px) {
      .video-item-togglePlaylist {
        font-size: 2.2rem; } }
  .video-item-stat:active, .video-item-stat:visited {
    color: #606060; }
  .video-item-stat--textMode:active, .video-item-stat--textMode:visited, .video-item-stat--textMode {
    color: #006621 !important;
    margin-right: 1rem; }
  .video-item-separator {
    margin: 0 1rem; }
    @media only screen and (max-width: 550px) {
      .video-item-separator {
        display: none; } }
  .video-item-description {
    font-size: 1.3rem;
    font-weight: 400;
    color: #535353;
    line-height: 1.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    max-height: 3.6rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; }
    @media only screen and (max-width: 550px) {
      .video-item-description {
        display: none; } }
    .video-item-description--textMode {
      display: block;
      margin-bottom: .5rem; }
  .video-item-durationText {
    display: inline-block;
    align-self: flex-start;
    right: 0;
    bottom: 0;
    border: 1px solid #27ae60;
    color: white;
    color: #27ae60;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 2px 4px;
    border-radius: 2px;
    margin-right: 1rem;
    margin-bottom: 1rem; }
    .video-item-durationText--hide {
      display: none; }
    @media only screen and (max-width: 550px) {
      .video-item-durationText {
        margin-top: -.2rem; } }

.footer {
  display: flex;
  flex-direction: column; }
  .footer-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    background-color: #F2F2F2;
    border-top: 1px solid #E4E4E4;
    padding: 0 3rem; }
    @media only screen and (max-width: 750px) {
      .footer-menu {
        flex-direction: column;
        text-align: center;
        height: auto; } }
  .footer-disc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
    background-color: #F2F2F2;
    border-top: 1px solid #E4E4E4;
    font-size: 1.4rem;
    padding-left: 4rem;
    padding-right: 3rem;
    color: #5F6368; }
    .footer-disc__item {
      font-size: 1.4rem;
      color: #5F6368;
      text-decoration: none; }
    @media only screen and (max-width: 750px) {
      .footer-disc {
        flex-direction: column;
        text-align: center;
        height: auto;
        line-height: 2rem;
        padding: 1rem;
        border: none;
        font-weight: 300; } }
  .footer__item {
    font-size: 1.4rem;
    color: #5F6368;
    padding: 1rem;
    text-decoration: none; }
    .footer__item:hover {
      text-decoration: underline; }
  .footer__developed-with-youtube {
    height: 2.5rem;
    margin-left: 1rem; }
  .footer__one {
    display: flex; }
    @media only screen and (max-width: 750px) {
      .footer__one {
        flex-direction: column; } }
  .footer__two {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 750px) {
      .footer__two {
        flex-direction: column; } }

.watch {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100vh;
  font-size: 1.6rem;
  background-color: #f9f9f9; }
  .watch-body {
    margin: 0 auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem;
    z-index: 0; }
    @media only screen and (max-width: 850px) {
      .watch-body {
        padding: unset; } }
  .watch-media {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto; }
    @media only screen and (max-width: 850px) {
      .watch-media {
        flex-direction: column;
        height: auto; } }
    .watch-media__main {
      flex-grow: 1;
      margin-right: 2rem;
      position: relative;
      width: 100%;
      height: 100%;
      max-width: 85.4rem; }
    .watch-media__task {
      margin-bottom: 3rem; }
    .watch-media__player, .watch-media #player {
      flex-grow: 1;
      margin-right: 2rem;
      position: relative;
      height: 48rem;
      width: 100%;
      max-width: 85.4rem;
      padding-right: 56.2%; }
      @media only screen and (max-width: 850px) {
        .watch-media__player, .watch-media #player {
          height: 0;
          max-width: 100%;
          padding-right: unset;
          padding-bottom: 56.2%; } }
    .watch-media__iframe {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%; }
    .watch-media iframe {
      position: absolute;
      z-index: 2; }
    .watch-media__playlist {
      position: relative;
      min-width: 30rem;
      flex-grow: 1; }
      @media only screen and (max-width: 850px) {
        .watch-media__playlist {
          height: 48rem; } }
      .watch-media__playlist__content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%; }
      .watch-media__playlist--hide {
        height: auto; }
  .watch-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 20rem; }
    @media only screen and (max-width: 850px) {
      .watch-info {
        flex-direction: column;
        padding: 0 1rem; } }
    .watch-info__description {
      width: 100%;
      max-width: 85.4rem;
      margin-right: 2rem;
      display: flex;
      flex-direction: column; }
      .watch-info__description-tittle {
        line-height: 2.4rem;
        font-size: 1.8rem;
        color: #0d0d0d;
        font-weight: 400;
        padding: 1rem 0; }
      .watch-info__description-meta {
        display: flex;
        flex-direction: row;
        margin-bottom: 2rem;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2.1rem;
        color: #606060; }
        @media only screen and (max-width: 850px) {
          .watch-info__description-meta {
            flex-direction: column; } }
      .watch-info__description__description {
        display: block;
        padding: 0 1rem;
        font-size: 1.4rem;
        line-height: 2.1rem;
        color: #0d0d0d;
        font-weight: 400;
        white-space: pre-wrap; }
        .watch-info__description__description--hide {
          display: none; }
      .watch-info__description__button {
        font-size: 1.3rem;
        line-height: 2.1rem;
        color: rgba(17, 17, 17, 0.6);
        text-transform: uppercase;
        font-weight: 500;
        padding: 1rem;
        margin-top: 1.5rem;
        cursor: pointer;
        border-bottom: 1px solid #CCCCCC; }
        .watch-info__description__button--hide {
          margin-top: 0; }
    .watch-info__sidebar {
      flex-grow: 1;
      min-width: 30rem; }

.donation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f3f3f3;
  border-radius: 3px;
  padding: 1rem; }
  .donation__text {
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 300;
    margin-bottom: 1rem; }
  .donation__button {
    display: flex;
    justify-content: center;
    border: none;
    cursor: pointer; }
    .donation__button img {
      width: 50%;
      height: auto;
      border: none; }

.miniplayer {
  position: fixed;
  bottom: 0;
  right: 4rem;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  background-color: #fff;
  width: 30rem;
  height: auto;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  @media only screen and (max-width: 915px) {
    .miniplayer {
      width: 100%;
      bottom: 0;
      right: 0;
      flex-direction: row;
      max-height: 10rem; } }
  .miniplayer__player {
    flex-shrink: 1;
    position: relative; }
    @media only screen and (max-width: 915px) {
      .miniplayer__player {
        position: relative;
        height: 10rem;
        width: 100%;
        max-width: 21.3rem; } }
    @media only screen and (max-width: 915px) {
      .miniplayer__player-iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; } }
  .miniplayer__control {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1; }
    .miniplayer__control-description {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 2.2rem;
      margin-right: 1rem; }
      .miniplayer__control-description__tittle {
        color: #0d0d0d;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        max-height: 4.4rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; }
        .miniplayer__control-description__tittle:active, .miniplayer__control-description__tittle:visited {
          color: #0d0d0d; }
    .miniplayer__control-action {
      cursor: pointer;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      color: #606060; }

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100vh;
  font-size: 1.6rem;
  color: #1c1e29; }
  .about-body {
    margin: 0 auto;
    flex-grow: 1;
    width: 100%;
    max-width: 60rem;
    padding: 1.5rem;
    margin-bottom: 10rem; }

.madeby {
  display: flex;
  justify-content: center;
  padding: 5rem;
  border-radius: 3px; }
  .madeby__love {
    font-size: 1.8rem;
    color: #e74c3c; }
  .madeby__link {
    color: blue; }
  .madeby__tittle {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.5rem; }
  .madeby__body {
    display: flex;
    justify-content: center; }
  .madeby__profil {
    display: flex;
    flex-direction: column; }
  .madeby__name {
    font-size: 1.6rem;
    font-weight: 600; }
  .madeby__desc {
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-weight: 300; }

.task {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  border: 1px solid #bbb;
  position: relative; }
  @media only screen and (max-width: 600px) {
    .task {
      margin: 0 .5rem;
      margin-top: 3rem; } }
  .task::before, .task::after {
    /* Styles to distinguish sheets from one another */
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    border: 1px solid #bbb;
    content: "";
    overflow: visible;
    position: absolute;
    height: 95%;
    width: 99%;
    background-color: #eee; }
  .task::before {
    right: 15px;
    top: 0;
    transform: rotate(-1deg);
    z-index: -1; }
  .task::after {
    top: 5px;
    right: -5px;
    transform: rotate(1deg);
    z-index: -1; }
  .task-form {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .task-form__toggle {
      color: #CCCCCC;
      padding: 1rem;
      font-size: 4rem;
      cursor: pointer; }
    .task-form__input {
      padding: 1rem;
      flex-grow: 1;
      border: none;
      font-size: 1.7rem;
      font-weight: 300;
      font-family: "Open Sans", sans-serif;
      color: #0d0d0d; }
      @media only screen and (max-width: 600px) {
        .task-form__input {
          flex-shrink: 1; } }
      .task-form__input:focus {
        outline: none; }
      .task-form__input::placeholder {
        font-family: "Open Sans", sans-serif;
        color: #9C9292; }
    .task-form__submit {
      background-color: #2ecc71;
      color: white;
      border: none;
      padding: .75rem 1.5rem;
      border-radius: 30px;
      font-family: "Open Sans", sans-serif;
      font-size: 1.4rem;
      cursor: pointer;
      outline: none; }
      @media only screen and (max-width: 600px) {
        .task-form__submit {
          display: none; } }
      .task-form__submit:hover {
        transform: translateY(-1px); }
      .task-form__submit:active {
        transform: translateY(0px); }
  .task-browser {
    display: flex;
    flex-direction: column;
    padding: 0 1rem; }
    .task-browser--hide {
      display: none; }
    .task-browser__tabs {
      display: flex;
      flex-direction: row; }
      .task-browser__tabs--hide {
        display: none; }
      .task-browser__tabs-header {
        padding: .5rem 1rem;
        font-family: inherit;
        font-size: 1.6rem;
        color: #9C9292;
        border-bottom: 3px solid #CCCCCC;
        margin-right: 1rem;
        font-weight: 600;
        cursor: pointer; }
        .task-browser__tabs-header--active {
          font-weight: 600;
          color: #2ecc71;
          border-bottom: 3px solid #2ecc71; }
    .task-browser__items {
      margin-top: 1rem;
      display: flex;
      flex-direction: column; }
    .task-browser__item {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
      padding: .5rem; }
      .task-browser__item-checkbox {
        margin-right: 1rem; }
      .task-browser__item-description {
        flex-grow: 1;
        display: flex;
        flex-direction: column; }
        .task-browser__item-description__todo {
          cursor: pointer;
          color: #1c1e29; }
          .task-browser__item-description__todo::first-letter {
            text-transform: uppercase; }
          .task-browser__item-description__todo--active {
            font-weight: 600;
            color: #27ae60; }
        .task-browser__item-description__meta {
          display: flex;
          flex-direction: column;
          padding: .5rem;
          font-size: 1.4rem;
          font-style: italic;
          color: #616161; }
          .task-browser__item-description__meta--hide {
            display: none; }
          .task-browser__item-description__meta-wrapper {
            border-radius: 3px;
            display: flex;
            flex-direction: row;
            justify-content: space-between; }
            @media only screen and (max-width: 600px) {
              .task-browser__item-description__meta-wrapper {
                flex-direction: column; } }
          .task-browser__item-description__meta-item {
            display: flex;
            flex-direction: column; }
            @media only screen and (max-width: 600px) {
              .task-browser__item-description__meta-item {
                flex-direction: row; } }
            @media only screen and (max-width: 600px) {
              .task-browser__item-description__meta-item__tittle {
                margin-right: .5rem; } }
          .task-browser__item-description__meta-delete {
            cursor: pointer;
            margin-top: 1rem; }
      .task-browser__item-tips {
        align-self: flex-start;
        color: #CCCCCC;
        cursor: pointer; }
      .task-browser__item-status {
        font-size: 2rem;
        align-self: flex-start;
        margin-left: 1rem;
        color: #CCCCCC;
        display: none; }
        .task-browser__item-status--active {
          display: block;
          color: #2ecc71; }

.contact__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.contact__header {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem; }

.contact__input, .contact__textarea {
  font-family: inherit;
  font-weight: 300;
  font-size: 1.6rem;
  padding: 1rem;
  border: 1px solid #9C9292;
  border-radius: 3px;
  margin-bottom: 2rem; }

.contact__submit {
  border: none;
  padding: 1rem 1rem;
  border-radius: 3px;
  background-color: #2ecc71;
  color: white;
  font-size: 1.6rem;
  align-self: flex-end;
  cursor: pointer; }
