// ALL VARIABLES BELONG HERE
:root {
    --color-primary: #333;
}

// MEDIA QUERIES SCREEN SIZE
$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px

$font--main : 'Open Sans', sans-serif;

$color-calm--dark : #9C9292;
$color-calm--light: #CCCCCC;

$color-accent--active: #2ecc71;

$color-text--article : #1c1e29;



$color-icon--standard: #616161;
$color-icon--inactive: lighten($color-icon--standard,40%);
$color-icon--active: lighten(#B5C9FF,5%);

$color-button--inactive : #606060;

$color-text--dark: #0d0d0d;
$color-text--light: rgb(96, 96, 96);

// $color-playlist__dark : #f3f3f3;
$color-playlist__dark: #f8f8f8;


$color-accent--light : #F2F2F2;
$color-accent--medium: #E4E4E4;
$color-accent--medium-soft: #5F6368;

$color-logo--main : #4F5870;
$color-logo--secondary : #B5C9FF;

$color-line--default : #CCCCCC;

$color-text-input : rgba(0, 0, 0, 0.87);

$color-light--1 : #fff;


* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

button::-moz-focus-inner {
    border: 0;
}

a {
    text-decoration: none;
}
a:focus {
    outline: 0;
}

button:focus{
    outline: none;
}

select:focus{
    outline: none;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

select{
    -moz-appearance:none;
    -webkit-appearance: none;
    appearance:none;
    background-image: url('https://img.icons8.com/android/24/000000/sort-down.png');
    background-repeat: no-repeat;
    min-width: 3.75rem;
    background-size:12px;
    background-position: right center;
    padding: .25rem;
 }

input:required, textarea:required {
    box-shadow:none;
}
input:invalid, textarea:invalid {
    box-shadow:none;
}
 

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

    @media only screen and (max-width: $bp-large) {
        //CODE FOR MEDIA QUERIES
    }
}

body {
    // font-family: 'Roboto', sans-serif;
    // font-family: Arial, Helvetica, sans-serif;
    font-family: 'Open Sans', sans-serif;

    font-weight: 400;
    display: relative;
    min-height: 100vh;
    
}