.about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1440px;
    min-height: 100vh;
    font-size: 1.6rem;
    color: #1c1e29;

    &-body{
        margin: 0 auto;
        flex-grow: 1;
        width: 100%;
        max-width: 60rem;
        padding: 1.5rem;
        margin-bottom: 10rem;
    }

}