.contact{
   
    &__form{
        width: 100%;
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__header{
        font-family: $font--main;
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    &__input, &__textarea{
        font-family: inherit;
        font-weight: 300;
        font-size: 1.6rem;
        padding: 1rem;
        border: 1px solid $color-calm--dark;
        border-radius: 3px;
        margin-bottom: 2rem;
    }

    &__submit{
        border: none;
        padding: 1rem 1rem;
        border-radius: 3px;
        background-color: $color-accent--active;
        color: white;
        font-size: 1.6rem;
        align-self: flex-end;
        cursor: pointer;
    }
}