.donation{
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // background-color: lighten($color-logo--secondary, 10%);
    background-color: #f3f3f3;
    border-radius: 3px;
    padding: 1rem;
    // background-color: #FF813F;



    &__text{
        text-align: center;
        // padding: 1rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 300;
        margin-bottom: 1rem;

    }

    &__button{
        display: flex;
        justify-content: center;
        // background-color: #FF813F;
        border: none;
        // padding: 1rem;
        cursor: pointer;

        & img{
            width: 50%;
            height: auto;
            border: none;
            // background-color: #FF813F;
            // padding: 1rem;
        }
        // border: 1px solid red;
    }
}