.footer{
    display: flex;
    flex-direction: column;

    &-menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 4rem;
        background-color: $color-accent--light;
        border-top: 1px solid $color-accent--medium;
        padding: 0 3rem;

        @media only screen and (max-width: 750px) {
            flex-direction: column;
            text-align: center;
            height: auto;
        }
        // overflow: hidden;
        // border: 1px solid red;
    }

    &-disc{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 2rem;
        background-color: $color-accent--light;
        border-top: 1px solid $color-accent--medium;
        font-size: 1.4rem;
        // font-size: 1.2rem;
        padding-left: 4rem;
        padding-right: 3rem;
        // padding:0 4rem;
    
        color: $color-accent--medium-soft;

        &__item{
            font-size: 1.4rem;
            color: $color-accent--medium-soft;
            // padding:1rem;
            text-decoration: none;
        }

        @media only screen and (max-width: 750px) {
            flex-direction: column;
            text-align: center;
            height: auto;
            line-height: 2rem;
            padding:1rem;
            border: none;
            font-weight: 300;
        }


        // padding:1rem;
        // border: 1px solid red;
    }




    &__item{
        font-size: 1.4rem;
        color: $color-accent--medium-soft;
        padding:1rem;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }

    &__developed-with-youtube{
        height: 2.5rem;
        margin-left: 1rem;
    }
    
    &__one{
        // border: 1px solid red;
        display: flex;
        
        @media only screen and (max-width: 750px) {
            flex-direction: column;
        }
    }

    &__two{
        display: flex;
        align-items: center;

        @media only screen and (max-width: 750px) {
            flex-direction: column;
        }
        
    }
}