.home{
    margin: 0 auto;
    max-width: 1440px;
    min-height: 100vh;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;

    &-topbar{
     display: flex;
     justify-content: flex-end;
     align-items: center;
     margin: 0 3rem;
     height: 6rem;

     &__playlist{
         font-size: 2.4rem;
         color: lighten($color-icon--standard,40%);

         &:hover{
             color: $color-icon--standard;
         }
     }
    }

    &-body{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: auto;

        @media only screen and (max-width: 750px) {
            flex-direction: column;
        }


        &__main{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            height: auto;

            &-logo{
                margin-top: 10rem;
                margin-bottom: 2.5rem;

                @media only screen and (max-width: 750px) {
                    padding: 2rem;
                    transform: scale(.75)
                }
            }

            &-topsection{
                position: relative;
                // border: 1px solid blue;
                flex-grow: 1;
                flex-basis: 90vh;
                flex-shrink: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

            }

            &-jargon{
                font-size: 2.4rem;
                font-weight: 300;
                margin-bottom: 2.5rem;
                text-align: center;

                @media only screen and (max-width: 600px) {
                    line-height: 140%;
                }
            }

            &-task{
                width: 100%;
                max-width: 55rem;
                margin: 2rem 0;
            }

            &-scroll{
                margin-top: 5rem;
                padding: 1rem;
                cursor: pointer;
                color: $color-calm--light;
                font-size: 7rem;
                
                &--hide{
                    display: none;
                }
            }

            &-inputwrapper{
                width: 100%;
                max-width: 50rem;
                padding: 1rem;
                // border: 1px solid yellow;
            }

            &-search{
                flex-grow: 1;
                width: 100%;
                // border: 1px solid red;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;

                &--hide{
                    display: none!important;
                }



                &__input{
                    
                    width: 100%;
                    max-width: 50rem;
                    height: 4.4rem;
                    border-radius: 24px;
                    box-shadow: none;
                    border: 1px solid #dfe1e5;
                    padding: 0 2rem;
                    padding-right: 5rem;
                    font-family: inherit;
                    font-size: 1.6rem;
                    color: rgba(0, 0, 0, 0.87);

                    &:hover{
                        border: 1px solid #dfe1e5;
                        box-shadow: 0 0px 3px rgba(0, 0, 0, 0.46);
                    }

                    &:hover + .home-body__main-search__button{
                        color: $color-icon--standard!important;
                        // transform: rotate(-45deg) scale(1.3);
                        // transition: all .5s;
                    }

                    &:focus{
                        outline: none;
                        border: 1px solid #dfe1e5;
                        box-shadow: 0 0px 3px rgba(0, 0, 0, 0.46);
                    }

                    &:focus + .home-body__main-search__button{
                        color: $color-icon--standard!important;
                        transform: rotate(-45deg) scale(1.3);
                        // transition: all .5s;
                    }
                }

                &__button{
                    // border: 1px solid blue!important;
                    margin-left: -4rem;
                    background-color: transparent;
                    border: none;
                    font-size: 2rem;
                    color: lighten($color-icon--standard,40%);
                    transition: all .5s;     
                    position: abosolute;
                    z-index: 100;
                    &:focus{
                        outline: none;
                    }

                    &:hover{
                        cursor: pointer;
                        color: $color-icon--standard!important;
                        transform: rotate(-45deg) scale(1.3);
                    
                    }
                }
            }
        }
    }
}