.logo{
    font-family: inherit;

    &__focus{
        font-size: 6.4rem;
        font-weight: 300;
        color: $color-logo--main;

        &--l{
            font-size: 5rem;
        }

        &--medium{
            font-size: 2.6rem;
        }
    }

    &__tube{
        position: relative;
        font-size: 6.4rem;
        font-weight: 700;
        color: $color-logo--secondary;

        &::after{
            content: 'alpha';
            position: absolute;
            left: 100%;
            top: 0;
            display: block;
            text-transform: uppercase;
            color: white;
            font-weight: 300;
            font-size: .3em;
            background-color: darken($color-logo--secondary,10%);
            padding: .2em;
            border-radius: .2em;

        }


        &--l{
            font-size: 5rem;
        }

        &--medium{
            font-size: 2.6rem;
        }
    }
}