.madeby{
    display: flex;
    justify-content: center;
    // flex-direction: row;
    // width:
    // background-color: #f5f5f5;
    padding: 5rem;
    border-radius: 3px;

    &__love{
        font-size: 1.8rem;
        color: #e74c3c;
    }

    &__link{
        color: blue;
    }

    &__tittle{
        text-align: center;
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
    }

    &__body{
        display: flex;
        justify-content: center;
    }

    &__profil{
        display: flex;
        flex-direction: column;
    }

    &__name{
        font-size: 1.6rem;
        font-weight: 600;
        
    }

    &__desc{
        font-size: 1.6rem;
        line-height: 2.8rem;
        font-weight: 300;
    }
}