.miniplayer{
    position: fixed;
    bottom: 0;
    right:4rem;
    // border:1px solid red;
    display: flex;
    // display: none;
    flex-direction: column;
    font-size: 1.8rem;
    background-color: #fff;
    // width: 100%;
    width: 30rem;
    height: auto;
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);

    @media only screen and (max-width: 915px) {
        width: 100%;
        bottom: 0;
        right: 0;
        flex-direction: row;
        max-height: 10rem;
        // display: none;
    }
    


    // width: 200px;

    &__player{
        // flex-grow: 0;
        flex-shrink: 1;
        position: relative;
        // border: 1px solid red;



        @media only screen and (max-width: 915px) {
            
            position: relative;
            height: 10rem; 
            width:100%;
            max-width: 21.3rem;
        }

        &-iframe{

            @media only screen and (max-width: 915px) {
                position: absolute;
                top:0;
                left:0;
                width: 100%;
                height: 100%;
            }

        }
    }


    &__control{
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 1;

        &-description{
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 2.2rem;
            // border: 1px solid blue;
            margin-right: 1rem;
            
            &__tittle{
                color: $color-text--dark;
                overflow: hidden;
                text-overflow: ellipsis;
                word-wrap: break-word;
                max-height: 4.4rem;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                // font-size: 1.5rem;
                // line-height: 1.6rem;

                &:active, &:visited{
                    color: $color-text--dark;
                }
            }
        }

        &-action{
            cursor: pointer;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            color: $color-button--inactive;
        }
    }
}