.playlist{
    // border: 1px solid blue;
    display: flex;
    flex-direction: column;

    &--hide-body{
        height: auto!important;
    }

    &__watch{
        height: 100%;
    }

    &-delete{
        display: flex;
        background-color: $color-playlist__dark;
        border-top: 1px solid $color-line--default;
        padding: .3rem;

        &:hover .playlist-delete__text{
            visibility: visible;
        }
        
        &__text{
            display: inline-block;
            font-size: 1.4rem;
            line-height: 2.1rem;
            color: $color-button--inactive;
            cursor: pointer;

            &:hover{
                text-decoration: underline;
            }


        }
    }
    
    &--pinned{
        position: sticky;
        top: 1rem;
    }

    &-header{
        display: flex;
        flex-direction: row;
        // border: 1px solid red;
        justify-content: space-between;
        padding: 1rem;
        font-weight: 500; 
        font-size: 1.6rem;
        line-height: 2.1rem;
        color: $color-button--inactive;
        text-transform: capitalize;
        background-color: $color-playlist__dark;
        // background-color: #f8f8f8;

        &__toggle{
            display: none;
            @media only screen and (max-width: 915px) {
             display: block;
            //  border: 1px solid red;
             padding-left: 1rem;
             flex-grow: 1;
             align-self: flex-end!important;
            }
        }
    }

    &-control{
        display: flex;
        flex-direction: column;
        background-color: $color-playlist__dark;
        padding: .5rem 1rem 1rem;
        border-bottom: 1px solid $color-line--default;

        &--hide{
            display: none;
        }

        &__button{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;

            &-item{
                font-size: 1.9rem;
                cursor: pointer;
                color: lighten($color-button--inactive,35%);
                

                &--active{
                    color: $color-icon--standard;
                }

                &:not(:last-child){
                    margin-right: .5rem;
                    // border: 1px solid red;
                }
                
                &:hover{
                    color: $color-icon--standard;
                }

                &:active{
                    transform: translateY(1px);
                }

                &--sticky{
                    @media only screen and (max-width: 915px) {
                        display: none!important;
                        // border: 1px solid red;
                    }
                }
            }
        }

        &__ownedList{
            // border: 1px solid red;
            padding: .5rem;
            background-color: #f9f9f9;
            border: 1px solid $color-line--default;
        }
    }


    

    &-body{
        position: relative;
        background-color: #f8f8f8;
        height: 50rem;
        overflow: auto;
        padding: .5rem .5rem 0;
        // border: 1px solid red;

        &__watch{
            height: 100%;
            overflow: auto;
            // border: 1px solid red;
        }

        &--hide{
            display: none;
        }
    }
}