.prompt{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);

    &--hide{
        display: none;
    }

    &-box{
        background-color: #fff;
        display: flex;
        flex-direction: column;
        font-size: 1.6rem;
        width:100%;
        max-width: 50rem;
        // min-height: 20rem;
        padding: 2rem 1rem;
        border-radius: 3px;
        // margin: auto auto;

        &__header{
            font-weight: 500;
            font-size: 1.8rem;
            margin-bottom: 1rem;
            padding: 1rem;
            
            // border-bottom: 1px solid $color-line--default;
        }

        &__message{
            display: flex;
            flex-direction: column;
            padding: 0 2rem;
            font-weight: normal;
            line-height: 2rem;
            font-size: 1.4rem;
        }

        &__input{
            margin-top: 1rem;
            margin-bottom: 1.5rem;
            padding: 0 .5rem;
            height: 3rem;
            width: 100%;

            &:focus, &:active{
                outline: none!important;
                box-shadow:none!important;

            }
        }

        &__action{
            padding: 1rem 2rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            &-button{
                background-color: none;
                border: none;
                padding: 1rem 2rem;
                margin-left: 1rem;
                border-radius: 1px;
                cursor: pointer;

                &--ok{
                    background-color: #2ecc71;
                    color: #fff;
                    &:hover{
                        background-color: darken(#2ecc71, 10%);
                    }

                    &:active{
                        transform: translateY(1px)
                    }
                }

                &--cancel{
                    background-color: #e74c3c;
                    color: #fff;


                    &:active{
                        transform: translateY(1px)
                    }

                    &:hover{
                        background-color: darken(#e74c3c, 10%);
                    }
                    // border: 1px solid #e74c3c;
                }
            }

        }
    }
}