// --- SEARCH PAGE
.search{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1440px;
    min-height: 100vh;
    font-size: 1.6rem;
    background-color: #f9f9f9;

    // --- WHOLE PAGE
    &-body{
        display: flex;
        flex-direction: row;
        margin-bottom: 22rem;
        min-height: 70vh;
        position: relative;
        z-index: 0;

        @media only screen and (max-width: 915px) {
            width: 100%;
            flex-direction: column-reverse;
            align-items: center;
        }
        // border: 1px solid red;
    }

    // --- CONTAINER FOR FILTER AND SEACH RESULT (LIST VIDEO)
    &-container{
        flex-grow: 1;
        flex-basis: 65rem;
        // border: 1px solid blue;
        display: flex;
        justify-content: flex-end;
        margin-left: 4rem;

        // ---STATE IF PLAYLIST HIDDEN, THEN THE VIDEO LIST BECOME FULL SCREEN
        &--full{
            justify-content: center;
            margin: 0 2rem;
        }

        @media only screen and (max-width: 915px) {
            width: 100%;
            margin: unset;
            justify-content: center;
        }
    }

    // --- MORE SPESICIF FILTER AND VIDEO LIST CONTAINER
    &-result{
        // border: 1px solid purple;
        width: 100%;
        max-width: 65rem;
        min-width: 45rem;

        // ---STATE IF PLAYLIST HIDDEN, THEN THE VIDEO LIST BECOME FULL SCREEN
        &--full{
            margin-left: -5rem;
            max-width: 80rem;
        }

        @media only screen and (max-width: 915px) {
            min-width: 35rem;
            width: 100%;
            margin: 0 2rem;
            justify-content: center;
        }

        // --- CONTAINER FOR VIDEO LIST
        &-container{
            display: flex;
            flex-direction: column;
            padding: 2rem 0;
            // border: 1px solid blue;

            @media only screen and (max-width: 600px) {
                padding: 2rem 0;
            }
        }
    }


    // --- PAGINATION STARTED --- //
    &-pagination{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 2rem;

        &__direction{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            // border: 1px solid red;
            width: 15rem;
            padding: .5rem 2rem;
            margin:  1rem;
            font-size: 1.5rem;
            border: 1px solid $color-line--default;
            cursor: pointer;

            color: $color-icon--standard;
            background-color: $color-accent--light;
            
            &:hover{
                // background-color: $color-accent--medium;
                background-color: $color-logo--secondary;
                border: 1px solid $color-logo--secondary;

                // color: white
            }

            &:active{
                transform: translateY(1px);
            }
            
            &--hide{
                visibility: hidden;
            }

            &-label{
                margin: 0 1rem;
            }

        }
    }



    // --- FILTER COMPONENT START --- //
    &-filter{
        display: flex;
        flex-direction: column;
        // border: 1px solid blue;
        margin-top: 1rem;

        // --- FILTER ICON, TEXT, SHOW THUMBNAIL AND SHOW PLAYLIST
        &-header{
            // border: 1px solid red;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 5.8rem;

            // --- CONTAINER FOR FILTER BUTTON WHICH TOGGLE FILTER BODY
            &__filter{
                display: flex;
                align-items: center;
                cursor: pointer;
                margin-right: 1rem;
                // border: 1px solid blue;

                &-icon{
                    font-size: 2.4rem;
                    margin-right: 1.5rem;
                    color: $color-button--inactive;

                    @media only screen and (max-width: 480px) {
                        margin-right: 1rem;
                        font-size: 2rem;
                    }
                }

                &-text{
                    font-size: 1.8rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    color: $color-button--inactive;
                    @media only screen and (max-width: 550px) {
                        font-size: 1.5rem;
                    }
                    
                }
            }

            // ---CONTAINER SHOW THUMBNAIL AND PLAYLIST DROP DOWN
            &__control{
                // border: 1px solid green;
                display: flex;
                flex-direction: row;
                align-items: center;

                &-option{
                    display: flex;
                    flex-direction: row;
                    margin-left: 1rem;

                    // @media only screen and (max-width: 550px) {
                    //     margin-left: unset;
                    // }
                }

                &-text{
                    // display: inline-block;
                    font-size: 1.5rem;
                    font-weight: 500;
                    text-transform: capitalize;
                    color: $color-button--inactive;
                    // word-wrap: unset;

                    @media only screen and (max-width: 550px) {
                        font-size: 1.3rem;
                    }
                }

                &-select{
                    font-family: inherit;
                    margin-left: 1rem;
                    border: none;
                    cursor: pointer;

                }
            }
        }

        // --- CONTAINER FOR FILTER BODY, DEFAULT STATE IS HIDDEN, CONTAIN SORT BY AND SEARCH FOR
        &-body{
            border-bottom: 1px solid $color-line--default;
            height: auto;

            // HIDE FILTER BODY STATE
            &--hide{
                height: 0;
                overflow: hidden;
            }

            &__field{
                // border: 1px soid blue;
                display: flex;
                flex-direction: row;
                align-items: baseline;
                margin: 1.5rem;

                &-label{
                    display: block;
                    font-size: 1.3rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    color: #0d0d0d;
                    width: 10rem;
                }

                &-radio{
                    // border: 1px solid red;
                    // display: flex;
                    // flex-direction: row;
                    // justify-content: flex-start;
                    // align-items: center;

                    & > label{
                        font-size: 1.4rem;
                        color: $color-button--inactive;
                        margin-right: 1.5rem;
                        margin-left:.7rem;

                        @media only screen and (max-width: 550px) {
                            &::after{
                                content: '';
                                margin: .5rem 0;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }

    // --- FILTER COMPONENT ENDED --- //


    &-playlist{
        flex-shrink: 1;
        width: 100%;
        // border: 1px solid green;
        margin: 1rem 4rem 4rem 4rem;
        max-width: 37.6rem;
        height: auto;
        // background-color: #fff;
        
        @media only screen and (max-width: 915px) {
            flex-grow: 1;
            width: 100%;
            max-width: 65rem;
            margin: unset;
            // margin: 2rem;
        }

        &--hide{
            // visibility: hidden;
            // max-width: 25rem;;
            display: none;
        }

    }
}