.task{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
    border: 1px solid #bbb;
    position: relative;

    @media only screen and (max-width: 600px) {
        margin: 0 .5rem;
        margin-top: 3rem;
    }
    // overflow: visible;
    // z-index: 3!important;

    &::before, &::after{
        /* Styles to distinguish sheets from one another */
       box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
       border: 1px solid #bbb;
       content: "";
       overflow: visible;
       position: absolute;
       height: 95%;
       width: 99%;
       background-color: #eee;
    }

    &::before{
        right: 15px;
        top: 0;
        transform: rotate(-1deg);
        z-index: -1; 
    }

    &::after {
        top: 5px;
        right: -5px;
        transform: rotate(1deg);
        z-index: -1;
      }


    &-form{
        display: flex;
        flex-direction: row;
        align-items: center;

        &__toggle{
            // border: 1px solid red;
            color: $color-calm--light;
            padding: 1rem;
            font-size: 4rem;
            cursor: pointer;
        }

        &__input{
            padding: 1rem;
            flex-grow: 1;
            border: none;
            font-size: 1.7rem;
            font-weight: 300;
            font-family: $font--main;
            color: $color-text--dark;

            @media only screen and (max-width: 600px) {
             flex-shrink: 1;
            }

            &:focus{
                outline: none;
            }

            &::placeholder{
                font-family: $font--main;
                color: $color-calm--dark;
            }
        }


        &__submit{
            background-color: $color-accent--active;
            color: white;
            border: none;
            padding: .75rem 1.5rem;
            border-radius: 30px;
            font-family: $font--main;
            font-size: 1.4rem;
            cursor: pointer;
            outline: none;

            @media only screen and (max-width: 600px) {
                display: none;
            }

            &:hover{
                transform: translateY(-1px);
            }

            &:active{
                transform: translateY(0px);
            }
        }

    }

    &-browser{
        display: flex;
        flex-direction: column;
        padding: 0 1rem;

        &--hide{
            display: none;
        }


        &__tabs{
            display: flex;
            flex-direction: row;

            &--hide{
                display: none;
            }

            &-header{
                padding: .5rem 1rem;
                font-family: inherit;
                font-size: 1.6rem;
                color: $color-calm--dark;
                border-bottom: 3px solid $color-calm--light;
                margin-right: 1rem;
                font-weight: 600;
                cursor: pointer;

                &--active{
                    font-weight: 600;
                    color: $color-accent--active;
                    border-bottom: 3px solid $color-accent--active;
                }
            }
        }


        &__items{
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
        }

        &__item{
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;
            padding: .5rem;

            &-checkbox{
                margin-right: 1rem;
            }

            &-description{
                flex-grow: 1;
                display: flex;
                flex-direction: column;

                &__todo{
                    cursor: pointer;
                    color: $color-text--article;

                    &::first-letter{
                        text-transform: uppercase;
                    }

                    &--active{
                        // text-decoration: line-through;
                        font-weight: 600;
                        color: #27ae60;
                    }
                }


                &__meta{
                    display: flex;
                    flex-direction: column;
                    padding: .5rem;
                    font-size: 1.4rem;
                    font-style: italic;
                    color: $color-icon--standard;

                    &--hide{
                        display: none;
                    }

                    &-wrapper{
                        border-radius: 3px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        @media only screen and (max-width: 600px) {
                          flex-direction: column;
                        }
                    }

                    &-item{
                        display: flex;
                        flex-direction: column;

                        @media only screen and (max-width: 600px) {
                            flex-direction: row;
                        }

                        &__tittle{
                            @media only screen and (max-width: 600px) {
                                margin-right: .5rem;
                            }   
                        }

                    }

                    &-delete{
                        cursor: pointer;
                        margin-top: 1rem;

                    }
                }


            }


            &-tips{
                align-self: flex-start;
                color: $color-calm--light;
                cursor: pointer;
     
            }

            &-status{
                // display: none;
                // visibility: hidden;
                font-size: 2rem;
                align-self: flex-start;
                margin-left: 1rem;
                color: $color-calm--light;
                display: none;

                &--active{
                    display: block;
                    color: $color-accent--active;
                }

            }
        }

    

        
    }


}


