.topbar{
    // border: 1px solid blue;

    height: 5.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    margin-bottom: 2rem;
    margin-top: .5rem;
    // background-color: $color-light--1;
    // background-color: #F7FAFC;

    @media only screen and (max-width: 650px) {
        padding: 1rem;
        flex-direction: column;
        justify-content: space-around;
        height: auto;
    }

    &__logo{
        text-decoration: none;    
        @media only screen and (max-width: 650px) {
            display: none;
        }
    }

    &__search{
        // border: 1px solid red;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        max-width: 45rem;
        height: 3.7rem;
        padding: 0 1rem;

        @media only screen and (max-width: 650px) {
            margin-top: 1rem;
        }

        &-input{
            height: 100%;
            flex-grow: 1;
            border: 1px solid $color-line--default;
            padding: 0 1rem;
            padding-left: 3.5rem;
            font-size: 1.6rem;
            color: $color-text-input;
            // border-top-left-radius: 2px;
            // border-bottom-left-radius: 2px;
            border-radius: 7.5px;
            

            &:focus{
                outline: none;
                box-shadow: inset 0px 1px 2px $color-line--default;
            }
        }

        &-button{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            border: none;
            border-left: transparent;
            width: 3rem;
            height: 3rem;
            position: absolute;
            margin-left: .5rem;
            color: lighten($color-logo--main,20%);;
            border-radius: 50%;
            transition: all .2s;

            &:hover{
                cursor: pointer;
                color: lighten($color-logo--main,10%);;
            }
        }
    }

    &__panel{
        // border: 1px solid red;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        font-size: 2.4rem;

        @media only screen and (max-width: 650px) {
            margin-top: 1rem;
        }
   
        &-item{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 2rem;
            color: $color-icon--inactive;
            background-color: $color-accent--light;
            border-radius: 50%;
            font-size: 2rem;
            padding: auto;
            width: 3.5rem;
            height: 3.5rem;
            text-align: center;
            // visibility: hidden;
            display: none;

            @media only screen and (max-width: 650px) {
                margin: 0 2rem;
            }

            &__donate-wrapper{
                @media only screen and (max-width: 650px) {
                    display: none;
                }

                
                position: relative;
                &::after{
                    content: 'Support me';
                    z-index: 2;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: #FFDD00;
                    // left: -150%;
                    left: -100%;
                    font-size: 1.5rem;
                    display: flex;
                    align-items: center;
                    padding: .5rem;
                    border-radius: 2px;
                    color: $color-text--dark;
                    font-weight: 300;
                    font-style: italic;

                    
                    // height: 100%;
                    width: 10rem;
                    visibility: hidden;
                    transition: all .2s;
                }

                &:hover::after{
                    // border: 1px solid red;

                    visibility: visible;
                    display: flex;
                    transform: translate(-40%,-50%);

                }

                // &:hover .topbar__panel-item__donate-wrapper::after{
                //     display: flex;
                //     border
                //     // left: -150%;
                //     // transform: translateY(-150%);
                // }
            }

            &__support{
                // border: 1px solid red;
                background-color: transparent;
                z-index: 3;
                width: 4.2rem;
                height: auto;
                position: relative;

            }

            &:hover{
                color: $color-icon--active;
                color: white;
                background-color: $color-icon--active;

            }
        }
    }
}