.typho{

    &__h1{
        text-align: center;
        font-size: 2.5rem;
        font-weight: 2.8rem;
        font-weight: 600;
        margin-bottom: 3rem;

    }

    &__h2{
        font-size: 1.6rem;
        font-weight: 2.8rem;
        font-weight: 600;
        margin-top: 4rem;
        margin-bottom: 1.5rem;
    }

    &__p{
        font-size: 1.6rem;
        line-height: 2.8rem;
        margin-bottom: 2rem;
        color: #1c1e29;
        font-weight: 400;
    }

    &__a{
        font-size: 1.6rem;
        line-height: 2.8rem;
        // margin-bottom: 2rem;
        color: blue;
        text-decoration: underline;
        font-weight: 400;
    }

}