.video{
        // --- COMPONENT OF ONE SINGLE VIDE ITEM OF VIDEO LIST STARTED ---//
        &-item{
            // border: 1px solid blue;
            position: relative;
            display: flex;
            flex-direction: row;
            margin-bottom: 1.5rem;


            @media only screen and (max-width: 600px) {
                margin-bottom: .8rem;
            }

            &--playlist{
                margin-bottom: .5rem;

                &---active{
                    background-color: #f1f1f1;
                }

                &:hover{
                    background-color: #f3f3f3;
                }
            }

            &:hover .video-item-togglePlaylist--playlist{
                visibility: visible;
            }

            &-stat{
                color: $color-text--light;
            }

            // --- CONTAINER FOR TITLE, CHANNEL, VIEW, DATE , AND DESCRIPTION
            &-meta{
                display: flex;
                flex-direction: column;
                flex-shrink: 1;
                flex-grow: 1;
                // border: 1PX solid RED;
            }

            // --- CONTAINER FOR TITLE AND ADD-TO-PLAYLIST BUTTON
            &__title-wrapper{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: baseline;


            }

            // --- CONTAINER FOR CHANNEL, VIEWS, AND DATE
            &__stat-wrapper{
                font-size: 1.3rem;
                font-weight: 400;
                color: $color-text--light;
                padding: .4rem 0 1rem;

                &--playlist{
                    // margin-top: -.5rem;
                    padding-top: 0;
                }
                
                @media only screen and (max-width: 550px) {
                    display: flex;
                    flex-direction: column;
                }

                &--textMode{
                    display: flex;
                    flex-direction: row;
                }

            }

            // THUMBNAIL AND DURATION WRAPPER
            &__thumbnail-wrapper{
                // position: absolute;
                display: block;
                flex-grow: 1;
                flex-shrink: 0;
                margin-right: 2rem;
                width: 100%;
                max-width: 24.6rem;
                width: 246px;
                height: auto;
                position: relative;
                align-self: flex-start;

                // border: 1px solid red;

                &--hide{
                    display: none;
                }

                &--playlist{
                    max-width: 30%;
                    margin-right: 1rem;

                    @media only screen and (max-width: 600px) {
                        align-self: flex-start;
                        width: 35%!important;
                        height: auto;
                        // border: 1px solid red;
                    }
                }
                

                @media only screen and (max-width: 600px) {
                    align-self: flex-start;
                    width: 50%;
                    height: auto;
                }

                @media only screen and (max-width: 550px) {
                    margin-right: 1rem;
                }
            }

            // THUMBNAIL STYLIN
            &-thumbnail{
                width: 100%;
                height: auto;
            }

            // DURATION STYLING
            &-duration{
                display: inline-block;
                position: absolute;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.8);
                color: white;
                font-size: 1.4rem;
                font-weight: 500;
                padding: 2px 4px;
                border-radius: 2px;
                // margin:0 1rem 1rem 0;
                margin-right: 1rem;
                margin-bottom: 1rem;

                &--playlist{
                    font-size: 1.3rem;
                    margin-right: .5rem;
                    margin-bottom: .5rem;
                }
            }

            // TITTLE STYLING
            &-tittle{
                font-size: 1.8rem;
                color: $color-text--dark;
                font-weight: normal;
                overflow: hidden;
                line-height: 2.4rem;
                text-overflow: ellipsis;
                word-wrap: break-word;
                max-height: 4.8rem;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;

                &--playlist{
                    font-size: 1.4rem;
                    line-height: 1.6rem;
                    font-weight: 500;
                }

                &--textMode{
                    color: #1a0dab;

                }

                @media only screen and (max-width: 550px) {
                    font-size: 1.5rem;
                    line-height: 2rem;
                }
            }

            // ADD-TO-PLAYLIST BUTTON STYLING
            &-togglePlaylist{
                font-size: 2rem;
                line-height: 2.3rem;
                color: $color-line--default;
                cursor: pointer;

                &--playlist{
                    font-size: 1.5rem;
                    visibility: hidden;
                    // padding-left: .5rem;

                    &:hover{
                        color: $color-icon--standard!important;
                    }

                    @media only screen and (max-width: 915px) {
                        visibility: visible;
                    }
                }

                &:hover{
                    color:$color-logo--secondary ;
                }

                @media only screen and (max-width: 550px) {
                    font-size: 2.2rem;
                    // padding: 0 1rem;
                }
            }

            // CHANNEL, VIEWS, AND DATE STYLING
            &-stat{
                &:active, &:visited{
                    color: $color-text--light;
                }

                &--textMode:active, &--textMode:visited, &--textMode{
                        color: #006621!important;
                        margin-right: 1rem;
                }

            }

            // LITTLE DOT, THAT SEPARATE STAT STYLING
            &-separator{
                margin: 0 1rem;

                @media only screen and (max-width: 550px) {
                    display: none;
                }
            }

            // DESCRIPTION STYLING
            &-description{
                font-size: 1.3rem;
                font-weight: 400;
                color: darken($color-button--inactive,5%);
                line-height: 1.8rem;
                overflow: hidden;
                text-overflow: ellipsis;
                word-wrap: break-word;
                max-height: 3.6rem;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                // padding: .4rem 0 1rem;
         
                @media only screen and (max-width: 550px) {
                    display: none;
                }

                &--textMode{
                    display: block;
                    margin-bottom: .5rem;
                }
                
            }

            // DURAITON FOR TEXT MODE
            &-durationText{
                display: inline-block;
                align-self: flex-start;
                // margin-top: 1rem;
                right: 0;
                bottom: 0;
                // background-color: #27ae60;
                border: 1px solid #27ae60;
                color: white;
                color: #27ae60;
                font-size: 1.3rem;
                font-weight: 600;
                padding: 2px 4px;
                border-radius: 2px;
                // margin:0 1rem 1rem 0;
                margin-right: 1rem;
                margin-bottom: 1rem;

                &--hide{
                    display: none;
                }

                @media only screen and (max-width: 550px) {
                    margin-top: -.2rem;
                }
            }
        }
        // --- COMPONENT OF ONE SINGLE VIDE ITEM OF VIDEO LIST ENDED ---//
}