.watch{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1440px;
    min-height: 100vh;
    font-size: 1.6rem;
    background-color: #f9f9f9;

    &-body{
        margin: 0 auto;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 2rem;
        z-index: 0;


        @media only screen and (max-width: 850px) {
            padding: unset;
        }

    }

    &-media{
        display: flex;
        flex-direction: row;
        // align-items: flex-end;
        width: 100%;
        height: auto;
        // border: 1px solid blue;
        // height: 48rem;

        @media only screen and (max-width: 850px) {
            flex-direction: column;
            height: auto;
        }

        &__main{
            flex-grow: 1;
            margin-right: 2rem;
            position: relative;

            // height: 48rem; 
            width: 100%;
            height: 100%;
            max-width: 85.4rem;
            // border: 1px solid red;
            // padding-right: 56.2%;
        }

        &__task{
            margin-bottom: 3rem;
        }

        &__player, #player{
            flex-grow: 1;
            margin-right: 2rem;
            position: relative;

            height: 48rem; 
            width: 100%;
            max-width: 85.4rem;
            padding-right: 56.2%;

            @media only screen and (max-width: 850px) {
                height: 0;
                max-width: 100%;
                padding-right: unset;
                padding-bottom: 56.2%;

            }
        }

        &__iframe{

            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
        }

        iframe{
            position: absolute;
            // border: 1px solid red;
            z-index: 2;
        }

        &__playlist{
            position: relative;
            min-width: 30rem;
            flex-grow: 1;

            @media only screen and (max-width: 850px) {
                height: 48rem;
            }

            &__content{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
            }

            &--hide{
                height: auto;
            }
        }
        
    }

    &-info{
        // border: 1px solid red;
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 20rem;

        @media only screen and (max-width: 850px) {
            flex-direction: column;
            padding: 0 1rem;
        }

        &__description{
            width: 100%;
            max-width: 85.4rem;
            margin-right: 2rem;
            // border: 1px solid blue;
            display: flex;
            flex-direction: column;

            &-tittle{
                line-height: 2.4rem;
                font-size: 1.8rem;
                color: $color-text--dark;
                font-weight: 400;
                padding: 1rem 0;

            }

            &-meta{
                display: flex;
                flex-direction: row;
                margin-bottom: 2rem;

                font-weight: 400;
                font-size: 1.4rem;
                line-height: 2.1rem;
                color: $color-button--inactive;

                @media only screen and (max-width: 850px) {
                    flex-direction: column;
                }
            }

            &__description{
                // padding: 1rem;
                display: block;
                padding: 0 1rem;
                font-size: 1.4rem;
                line-height: 2.1rem;
                color: $color-text--dark;
                font-weight: 400;
                white-space: pre-wrap;

                &--hide{
                    display: none;
                }

                
            }

            &__button{
                font-size: 1.3rem;
                line-height: 2.1rem;
                color: rgba(17,17,17,0.6);
                text-transform: uppercase;
                font-weight: 500;
                padding: 1rem;
                margin-top: 1.5rem;
                cursor: pointer;

                border-bottom: 1px solid $color-line--default;

                &--hide{
                    margin-top: 0;
                }
                
            }
        }

        &__sidebar{
            flex-grow: 1;
            min-width: 30rem;

        }
    }
}