.wrapper{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1440px;
    min-height: 100vh;
    font-size: 1.6rem;
    background-color: #f9f9f9;
    justify-content: space-between;

    //     margin: 0 auto;
    // max-width: 1440px;
    // min-height: 100vh;
    // font-size: 1.6rem;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
}